<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1><a href="{% url 'conditional' %}"> Go to conditional page</a></h1>
        
        
        <h1>looping statements</h1>
        <h1>
            {% for i in name %}
                {{i}}
            {% endfor %}
        </h1>

        <h1>mobile number</h1>
        <h1>
            {% for mn in mobile %}
                 <h1>{{mn}}</h1>
            {% endfor %}
        </h1>`
        
    </center>
</body>
</html>
